/* @media (min-width: 275.98px) {
  .chat-app .chat-history {
    height: 517px !important;
    max-height: 1000px !important;

  }
}
@media (min-width: 375.98px) {
  .chat-app .chat-history {
    height: 746px !important;
  }
}
@media (min-width: 575.98px) {
  .chat-app .chat-history {
    height: 517px !important;
  }
}
@media (min-width: 767.98px) {
  .chat-app .chat-history {
    height: 474px  !important;
  }
}
@media (min-width: 991.98px) {
}
@media (min-width: 1199.98px) {
}
@media (min-width: 1400.98px) {
} */
