body {
}
/* .container {
  height: 100vh !important;
} */

.card {
  background: #162129 !important;
  transition: 0.5s;
  border: 0;
  position: relative;
  box-shadow: 0 1px 2px 0 rgb(0 0 0 / 10%);
  width: 100%;
}
.chat-app .people-list {
  width: 325px;
  position: absolute;
  left: 0;
  top: 0;
  padding: 6px;
  z-index: 7;
}

.chat-app .chat {
  margin-left: 325px;
  border-left: 1px solid rgb(255, 255, 255, 0.4);
}

.people-list {
  -moz-transition: 0.5s;
  -o-transition: 0.5s;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  color: #fff !important;
}

.people-list .chat-list li {
  padding: 10px 15px;
  list-style: none;
  border-radius: 3px;
}

.people-list .chat-list li:hover {
  background: rgb(255, 255, 255, 0.1);
  cursor: pointer;
}

.people-list .chat-list li.active {
  background: #efefef;
}

.people-list .chat-list li .name {
  font-size: 15px;
}

.people-list .chat-list img {
  width: 45px;
  border-radius: 50%;
}

.people-list img {
  float: left;
  border-radius: 50%;
  height: 44px;
}

.people-list .about {
  float: left;
  padding-left: 8px;
}

.people-list .status {
  color: #999;
  font-size: 13px;
}

.chat .chat-header {
  padding: 10px 20px;
  border-bottom: 1px solid rgb(255, 255, 255, 0.4);
  color: rgb(255, 255, 255, 0.9);
}

.chat .chat-header img {
  float: left;
  border-radius: 40px;
  width: 40px;
}

.chat .chat-header .chat-about {
  float: left;
  padding-left: 10px;
}

.chat .chat-history {
  padding: 8px;
  border-bottom: 1px solid rgb(255, 255, 255, 0.4);
}

.chat .chat-history ul {
  padding: 0;
}

.chat .chat-history ul li {
  list-style: none;
  margin-bottom: 30px;
}

.chat .chat-history ul li:last-child {
  margin-bottom: 0px;
}

.chat .chat-history .message-data {
  margin-bottom: 15px;
}
.card {
  border-radius: 0 !important;
}
.chat .chat-history .message-data img {
  border-radius: 40px;
  width: 40px;
}

.chat .chat-history .message-data-time {
  color: rgb(255, 255, 255, 0.5);
  padding-left: 6px;
  font-size: 12px;
}
/* .message-data-time {
  position: absolute;
  top: 32px;
  width: 60px;
  margin-left: -27px;
} */
.chat .chat-history .message {
  color: #444;
  /* padding: 18px 20px;
  line-height: 26px;
  font-size: 16px; */
  padding: 9px 11px;
  line-height: 17px;
  font-size: 14px;
  border-radius: 7px;
  display: inline-block;
  position: relative;
}

.chat .chat-history .message:after {
  bottom: 100%;
  left: 7%;
  border: solid transparent;
  content: " ";
  height: 0;
  width: 0;
  position: absolute;
  pointer-events: none;
  border-bottom-color: #fff;
  border-width: 10px;
  margin-left: -10px;
}

.chat .chat-history .my-message {
  /* background: #efefef; */
  background: #223440;
  color: rgb(255, 255, 255, 0.9);
}

.chat .chat-history .my-message:after {
  bottom: 100%;
  left: 30px;
  border: solid transparent;
  content: " ";
  height: 0;
  width: 0;
  position: absolute;
  pointer-events: none;
  border-bottom-color: #223440;
  border-width: 10px;
  margin-left: -10px;
}

.chat .chat-history .other-message {
  background: #223440;
  /* text-align: right; */
  color: rgb(255, 255, 255, 0.9);
}

.chat .chat-history .other-message:after {
  border-bottom-color: #223440;
  left: 73%;
}

.chat .chat-message {
  padding: 20px;
  /* display: grid;
  grid-template-columns: 1fr 17fr; */
}

.online,
.offline,
.me {
  margin-right: 2px;
  font-size: 8px;
  vertical-align: middle;
}

.online {
  color: #86c541;
}

.offline {
  color: #e47297;
}

.me {
  color: #1d8ecd;
}

.float-right {
  float: right;
}

.clearfix:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: " ";
  clear: both;
  height: 0;
}
.chat-history {
  height: 473px;
  overflow: auto;
  overflow-x: hidden !important;
  background: linear-gradient(
      0deg,
      rgba(22, 33, 41, 0.9),
      rgba(22, 33, 41, 0.9)
    ),
    url(assets/bg-image.png);

  background-position: center;
  background-color: #0a0d10;
}

.card .chat-app {
  height: 100vh;
}
@media only screen and (max-width: 767px) {
  .chat-app .people-list {
    height: 465px;
    width: 100%;
    overflow-x: auto;
    background: #fff;
    left: -400px;
    display: none;
  }
  .chat-app .people-list.open {
    left: 0;
  }
  .chat-app .chat {
    margin: 0;
  }
  .chat-app .chat .chat-header {
    border-radius: 0.55rem 0.55rem 0 0;
  }
  .chat-app .chat-history {
    height: 473px;
    overflow-x: auto;
  }
}

@media only screen and (min-width: 768px) and (max-width: 992px) {
  .chat-app .chat-list {
    /* height: 650px; */
    height: auto;
    overflow-x: auto;
  }
  .chat-app .chat-history {
    /* height: 600px; */
    /* height: auto; */
    overflow-x: auto;
  }
}

@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (orientation: landscape) and (-webkit-min-device-pixel-ratio: 1) {
  .chat-app .chat-list {
    height: 480px;
    overflow-x: auto;
  }
  .chat-app .chat-history {
    height: calc(100vh - 350px);
    overflow-x: auto;
  }
}

/* Login */
.btn-color {
  background-color: #0e1c36 !important;
  color: #fff !important;
}

.profile-image-pic {
  height: 150px;
  width: 150px;
  object-fit: cover;
}

.cardbody-color {
  background-color: #ebf2fa;
}

a {
  text-decoration: none;
}

.dropdown li {
  padding: 0 !important;
  margin: 0 !important;
}
.dropdown .dropdown-menu > li > a:hover {
  background-color: rgb(255, 255, 255, 0.1) !important;
}
.dropdown a {
  color: rgb(255, 255, 255, 0.8) !important;
  font-size: small;
}
.dropdown ul {
  background-color: #223440 !important;
  color: rgb(255, 255, 255, 0.8) !important;
}
.people-menu .dropdown-menu {
  margin-left: -139px !important;
}
.search-ico {
  color: rgb(255, 255, 255, 0.8) !important;
  font-size: 17px;
}
.search-ico-parent {
  position: absolute;
  z-index: 999;
  right: 12px;
  top: 5px;
  background: rgb(22, 33, 41);
  height: 27px;
  width: 23px;
  padding-left: 5px;
}
.send-button {
  background-color: #0096c7 !important;
  /* border: 1px solid rgb(255, 255, 255, 0.8); */
  cursor: pointer !important;
}
.fa-send {
  color: #fff !important;
  font-size: 23px;
  cursor: pointer;
}
.centered-axis-xy {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

/*
 *  STYLE 2
 */

#style-2::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  border-radius: 10px;
  background-color: rgb(255, 255, 255, 0.1);
}

#style-2::-webkit-scrollbar {
  width: 5px;
  background-color: rgb(255, 255, 255, 0.1);
}

#style-2::-webkit-scrollbar-thumb {
  border-radius: 10px;
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  background-color: #162129;
}
.form-control {
  background-color: #162129 !important;
  color: rgb(255, 255, 255, 0.8) !important;
  border: 1px solid rgb(255, 255, 255, 0.3) !important;
}
.form-control::placeholder {
  color: rgb(255, 255, 255, 0.6) !important;
}
.form-control:focus {
  outline: none !important;
  box-shadow: none !important;
}
.headers-icons-group {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  column-gap: 30px;
  justify-self: center;
}
.headers-icons-group .wrap .ico {
  color: rgb(255, 255, 255, 0.6);
  font-size: 20px;
}
.ico {
  color: rgb(255, 255, 255, 0.6);
  font-size: 20px;
  cursor: pointer;
}
#headers-icons-group .wrap {
  position: relative;
}

#headers-icons-group .wrap {
  cursor: pointer;
}
#headers-icons-group .wrap:after {
  content: "";
  opacity: 0;
  background-color: rgb(255, 255, 255, 0.2);
  position: absolute;
  top: 0px;
  left: -5px;
  bottom: 0px;
  right: 0px;
  border-radius: 50%;
  width: 30px;
  height: 30px;
  pointer-events: none;
}

#headers-icons-group .wrap:hover:after {
  opacity: 1;
}
.form-control-2 {
  background-color: #162129 !important;
  border: 1px solid rgb(255, 255, 255, 0.3) !important;
  /* outline: none !important; */
}

/* MUI  */

.css-1t1j96h-MuiPaper-root-MuiDialog-paper {
  background: #223440 !important;
  color: rgb(255, 255, 255, 0.7) !important;
}
.css-1t1j96h-MuiPaper-root-MuiDialog-paper .content,
.MuiChip-label {
  color: rgb(255, 255, 255, 0.7) !important;
}
.css-1t1j96h-MuiPaper-root-MuiDialog-paper .MuiInput-underline {
  border-color: red !important  ;
}
.input-bottom-sender {
  display: grid;
  grid-template-columns: 0.1fr 0.1fr 14fr 0.1fr;
  column-gap: 20px;
  align-items: center;
}
.react-input-emoji--input {
  /* border: 1px solid rgb(255, 255, 255, 0.3) !important; */
  /* outline: none !important; */
  /* background-color: #162129 !important; */
}
.react-input-emoji--input {
  outline: none !important;
  color: rgb(255, 255, 255, 0.9);
  /* z-index: 1 !important; */
  /* outline-color: rgb(255, 255, 255, 0.3) !important; */
}
.react-input-emoji--container {
  border: 0 !important;
}
/* .css-1nmdiq5-menu,
.css-13cymwt-control,
.css-t3ipsp-control {
  background: #223440 !important;
  color: rgb(255, 255, 255, 0.7) !important;
} */
.css-gavykb-MuiChip-root {
  background-color: rgb(255, 255, 255, 0.2) !important;
}
.css-14s5rfu-MuiFormLabel-root-MuiInputLabel-root {
  color: rgb(255, 255, 255, 0.7) !important;
}
.css-1d3z3hw-MuiOutlinedInput-notchedOutline {
  border-color: rgb(255, 255, 255, 0.7) !important;
}
.initials-avatar {
  background-color: #223440 !important;
}
